body
{
	text-align: center;
	background-color: #2F5D62;
	font-family: 'Inter', sans-serif;
}

.nav-link
{
	font-size: 25px;
	margin: auto 30px;
}

.navbar-brand
{
	margin: auto 50px;
	font-size: 30px;
}

.home-row
{
	background-image:url("../images/hr1.jpg");
	height: 500px;
	width: 100%;
	margin-bottom: 30px;
}
.arts
{
	background-color: #A7C4BC;
	height: 500px;
	margin-bottom: 30px;
}
.crafts
{
	background-color: #5E8B7E;
	height: 500px;
	margin-bottom: 30px;
}

